.managedetail{
    .weui-cells {
        margin-top: 15px;
    }
    .greenColor{
        color: #1aad19;
    }
    .graycolor{
        color:#999999;
    }
    .redColor{
        color: #E64340;
    }
    .weui-cell__bd-title,.weui-cell__ft{
        font-size: 17px !important;
    }
    .weui-cell__bd{
        font-size: 22px
    }
    .mr6{
        margin-right: 6px;
    }
    .header{
        padding: 15px 15px 0;
        font-size: 18px;
    }
    .bbGrey{
        border-bottom:1px solid rgba(229, 229, 229, 0.52);
    }
    .weui-cell:nth-child(2){
        &:before{
            border-top:none;
        }
    }
}