.register{
    .banner{
        width: 100%;
    }
    .mb15{
        margin-bottom: 15px;
    }
    .weui-cells {
        margin-top: 0px;
    }
    .required{
        margin-left: 3px;
        color: red;
    }
    .emptyFile{
        background-image:url('../../static/images/pic_160.png');
    }
}