.customer-detail{
    .process{
        .weui-cells {
            margin-top: 0px;
        }
        .tr0{
            position: absolute;
            top:0;
            right: 0;
        }
        .redColor{
            color: #E64340;
        }
        .weui-cell__bd{
            color: #a9a9a9;
        }
        .greenColor{
            color: #1aad19;
            position: relative;
        }
        .graycolor{
            color:#999999
        }
        .mb15{
            margin-bottom: 15px;
        }
        .m1015{
            margin: 10px 15px;
        }
    }
}