.login{
    .system{
        margin: -30px 15px;
        text-align: center;
    }
    .title{
        margin: 30px 15px 15px;
        text-align: center;
    }
    .mb-15{
        margin-bottom: 15px;
    }
    .width80{
        width: 80%;
        padding: 10%;
    }
    .login{
        margin: 10px 15px 15px;
        text-align: center;
    }
    .wechatColor{
        color: #2eae34;
    }
}